<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutTitle }}</h3>
            <h5>{{ site.aboutText1 }}</h5>
            
            <h5>{{ site.aboutText2 }}</h5>
            
            <h3> Next Seminar</h3>
            <h5> Our Next seminar will hold on June 18 at 9:00 am EST ( 3:00 PM CET, 10:00 PM JST, 9:00 PM 北京时间). Click <a href='https://msu.zoom.us/j/356148920'> here</a> to join</h5>
    
<!--             <h3><font color="red">Special Announcement</font></h3> -->
<!--             <h5><font color="darkturquoise"> PLEASE note that this event will hold on a different day at a different time</font></h5> -->
<!--             <h5>  We will hold a special discussion on Friday (April 17) focusing on the topic of nuclear reaction around the Coulomb barrier with special emphasize on the complete fusion and incomplete fusion.  </h5> -->
<!--             <h5>  The discussion will begin on Friday at <font color="red">(NEW TIME) 7:30 AM Eastern Time (US and Canada), 8:30 AM BRT (São Paulo), 1:30 PM CET(Madrid, Paris, Rome, and Berlin),  5:00 PM IST(New Delhi), 7:30 PM 北京时间(Beijing), 8:30 PM JST(Tokyo), 9:30 PM AEST(Canberra)</font>. Please join the discussion by clicking <a href='https://msu.zoom.us/j/91203758546'> here</a>  with password: 153203 </h5> -->
<!--             <h5>  Please bring your coffee break before joining the discussion :)</h5> -->
            <div class="row about-details">
                {% assign animationDelay = 0 %}
                {% for about in site.aboutBlock %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-6">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <h5>{{ about.title }}</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/about-section/{{ about.image }}" height="128" width="128" alt="{{ about.title }}">
                        <p>{{ about.text }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
